<div id="idHeader" class="header">
		<div class="header-logo"> <a href="/">learnCUDA</a></div>
		<div class="header-icons">

		{% if request.path.1 %}
			<div class="header-search">
				<form class="search-form" action="/search" method="GET">
					{% csrf_token %}
					<input name="q" placeholder="Поиск темы" type="search">
					<button type="submit">Поиск</button>
				</form>
			</div>
		{% endif %}
			{% if user.is_authenticated %}
				<a href="/lichnyj-kabinet" class="username">{{user}}</a>
				<a href="logout">Выйти</a>
			{% else %}
				<a href="user_login" style="margin-right: 10px">Войти</a>
				<a href="/registration">Регистрация</a>
			{% endif %}


		</div>

</div>
