{% extends 'base.html' %}

{% block content %}

<html lang="ru">

<head>

	<meta charset="utf-8" />
	<!-- <base href="/"> -->

	<title>learnCUDA</title>
	<meta name="description" content="" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<meta property="og:image" content="path/to/image.jpg" />
	<link rel="icon" href="img/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png" />
	<meta name="theme-color" content="#000" />
	<link rel="stylesheet" href="css/main.min.css" />
</head>

<body id="idBody">

	{% include 'include/main_header.html' %}


	<div id="idInformation" class="information-page container">
		<div class="information-title"> {{object.title}}</div>
		<div class="information-text">
            {{object.content | safe}}
		</div>
		{% if questions %}
			<div class="questionnaire">
				{% for question in questions %}
				<form method="post" class="questionnaire_form">
					{% csrf_token %}
					<label> {{question.label}}</label>
						<div class="questionnaire_answers">
							{% for answer in question.answers.all %}
							<p class="questionnaire_answer">
								<input  class="questionnaire_input" type="radio" required name="{{question}}" value="{{answer}}">
								{{answer}}
							</p>
							{% endfor %}
						</div>
				{% endfor %}
					<input class="questionnaire_submit" type="submit" value="OK">
				</form>
				{% if right_answers %}
					{% if right_answers|length == questions|length %}
						<div>Вы ответили правильно на все вопросы</div>
					{% else %}
						<div>Правильные ответы:</div>
						{% for right_answer in right_answers %}
							<div class="answers">
								<div class="answer">Вопрос: {{right_answer.0}}</div>
								<div class="answer">Ответ: {{right_answer.1}}</div>
							</div>
						{% endfor %}
					{% endif %}
				{% endif %}
				{% if wrong_answers %}
					<div>Неправильный ответы:</div>
					{% for wrong_answer in wrong_answers %}
						<div class="answers">
							<div class="answer">Вопрос: {{wrong_answer.0}}</div>
							<div class="answer">Вы ответили: {{wrong_answer.1}}</div>
							<div class="answer">Правильный ответ: {{wrong_answer.2}}</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}
		<div class="pages">

			<div class="previous-page"><a href="{{prev_obj_url.get_absolute_url}}">
				{% if prev_obj_url %}
					Предыдущая тема: {{prev_obj_url.title}}
				{% endif %}
			</a></div>

			<div class="next-page"><a href="{{next_obj_url.get_absolute_url}}" >
				{% if next_obj_url %}
					Следующая тема: {{next_obj_url.title}}
				{% endif %}
			</a></div>


	</div>
	</div>

	{% include 'include/main_footer.html' %}

	<script src="js/scripts.min.js"></script>

</body>

</html>

{% endblock %}
