{% extends 'base.html' %}
{% block content %}

<!--{% include 'include/breadcrumb.html' %}-->
<html lang="ru">

<head>

	<meta charset="utf-8" />
	<title>learnCUDA</title>
	<meta name="description" content="" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<meta property="og:image" content="path/to/image.jpg" />
	<link rel="icon" href="img/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png" />
	<meta name="theme-color" content="#000" />
<!--	<link rel="stylesheet" href="css/main.min.css" />-->
</head>

{% include 'include/main_header.html' %}
<body id="idBody">
	<div id="idHeadBlock" class="head-block">

		<div class="head-block-text container">
			{{ short_description | safe }}
		</div>

		<div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for item in object.carousel_items.all %}

                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <a href="{{ item.get_link }}">
                        <img class="d-block w-100" src="{{ item.image.url }}" alt="{{ item.title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
		<div class="head-block-search container">
			<form class="search-form" action="/search" method="GET">
				<div class="search-bar">
				<input name="q" placeholder="Поиск темы" type="search">
				</div>
				<button type="submit">
					<div class="search-bar-button">Поиск</div>
				</button>
			</form>
		</div>

		<div class="head-block-intro container">Эта часть посвящена изучению памяти в CUDA </div>
	</div>

	<div id="idMainPage" class="main-page container">
		<div class="main-page-text">
			{% for item in pages %}
			<div class="main-page-text-title">

				<a style="color: #292827" href="{{item.slug}}"> {{ forloop.counter }}. {{item.title}} </a>
			</div>
			{% endfor %}
		</div>
	</div>
	{% include 'include/main_footer.html' %}
	<script src="js/scripts.min.js"></script>

</body>

</html>

{% endblock %}
