{% extends 'base.html' %}
{% block content %}
<div class="registration_block">
  <form method="post" class="registration_form">
    <h2 style="color: #212529; font-family: blinker-regular, sans-serif;">Авторизация</h2>

    {% csrf_token %}
    {{ form.as_p }}
    {% if form != '/' %}
      <input class="registration_button" type="submit" value="Войти">
    {% else %}
      <a href="{{form}}">Вы успешно вошли, вернитесь на главную страницу</a>
    {% endif %}

  </form>
</div>
{% endblock %}