{% extends 'base.html' %}

{% block content %}

<!--{% include 'include/breadcrumb.html' %}-->
<div class="registration_block">
    <form method="post" class="registration_form">
        <h2 style="color: #212529; font-family: blinker-regular, sans-serif;">Регистрация</h2>
        {% csrf_token %}
        {% if form == '/main' %}
            <a href="{{form}}">Регистрация успешна. Вернитесь на главную страницу, чтобы приступить к изучению CUDA</a>
        {% else %}
            {{form}}
        {% endif %}
        <div style="color: red">
            {% if error %}
                {{error}}
            {% endif %}
        </div>
        {% if form != '/main' %}
            <input type="submit" value="Зарегистрироваться" class="registration_button">
        {% endif %}
    </form>
</div>
{% endblock %}
