{% extends 'base.html' %}

{% block content %}
{% include 'include/main_header.html' %}
<div class="search_main container">
    <div class="page-main_content page-main__content--new">
        <div class="title-group">
            <h2 class="page-main__content-title">Результаты поиска</h2>
        </div>
        <div class="search-results">
            {% for finded_items in objects %}
            {% for item in finded_items %}
            <a href="{{ item.get_absolute_url }}" class="search-results_item">
                <p class="product__title">{{ item.title }}</p>
            </a>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% include 'include/main_footer.html' %}
{% endblock %}

