.questionnaire {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px;
}
.answers {
display: flex;
flex-direction: row;
    .answer {
    margin: 0 10px 0 0;
    }
}

.questionnaire_form {
width: 100%;
display: flex;
flex-direction: column;
}

.questionnaire_answers {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 10px;
.questionnaire_answer {
flex-grow: 1;
display: flex;
flex-direction: row;
justify-content: center;
justify-items: center;
}
}
label {
  margin-right: 15px;
  line-height: 32px;
  background-color: #F6EFEF;
  width: 100%;
  text-align: center !important;
}

.questionnaire_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 1px solid black;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.questionnaire_input:checked {
  border: 6px solid black;
}

.questionnaire_submit,
legend {
  align-self: center;
  width: 20%;
  background-color: #292424;
  border-radius: 5px;
  width: 200px;
  color: white;
  padding: 5px
}

.questionnaire_submit:hover,
.questionnaire_submit:focus {
  color: #999;
}

.questionnaire_submit:active {
  background-color: white;
  color: black;
  outline: 1px solid black;
}