.footer {
  position: static;
  bottom: 100%;
  background: linear-gradient(0deg, #4d4a4a, $background-color);
  height: 10vh;
  width: 100%;
  bottom: 0%;
  font-family: 'Blinker-Regular';
  display: flex;
  align-items: center;
  line-height: 0 !important;
  .footer-logo {
    margin: 0 0 0 25px;
    color: white;
  }
}