.information-page {
  min-height: 760px;
  background-color: #F7F7F7;



  .information-title {
    padding-top: 1%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  .information-text {
    margin-bottom: 10px;

    .code {
      font-size: 15px !important;
      font-family: Arial, Helvetica, sans-serif;
      border-left: 3px solid black;
      padding: 15px;
    }
  }



  .pages {
    margin: 30px 0 10px 0;
    position: relative;
    align-items: flex-end;
    top: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .next-page {
      margin-left: 5px;

    }

    .previous-page {
      margin-right: 5px;
    }
  }
}

.code_block {
    background-color: #87ad79 !important;
    p{
        margin: 0 !important;
    span {
        background-color: #87ad79 !important;
}
}
}