.main-page {
  background-color: #F7F7F7;

  .main-page-text {
    .main-page-text-title {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 18px;
      border-bottom: 1px solid black;
      width: 700px;
      margin-bottom: 10px;
    }

    .main-page-text-title:first-child {
      padding-top: 10px;
    }

    .main-page-text-points {
      font-size: 24px;
    }

    .main-page-text-points:last-child {
      padding-bottom: 10px;
    }

    a {
    text-decoration: none;
    }
  }
}

.carousel {
width: 750px !important;
}
