.registration_block{
margin: 10% 25% 0 25%;
display: block;
justify-items: center;
box-shadow: 10px 5px 5px #474745;
.registration_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    height: 450px;
    max-height: 550px;
    border: 1px #36373b solid;
    border-radius: 5px;
    .registration_button{
        background-color: #292424;;
        border-radius: 5px;
        width: 200px;
        color: white;
        padding: 5px
    }
}
}
