@import "_mixins/common";
$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
$background-color: #292424;

$icon_arr: (
  "search"
  );

@each $icon in $icon_arr {
  .#{$icon} {
    @include icon(40, 40, #{$icon});
  }
}