.search {
  display: block;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  background-color: #333;
  -webkit-mask-image: url(../svg/search.svg);
  mask-image: url(../svg/search.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat; }

@font-face {
  font-family: "roboto-example";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-example";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "Blinker-Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Blinker-Regular/Blinker-Regular.eot");
  src: url("../fonts/Blinker-Regular/Blinker-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Blinker-Regular/Blinker-Regular.woff") format("woff"), url("../fonts/Blinker-Regular/Blinker-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Blinker-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/BlinkerBold/Blinker-Bold.eot");
  src: url("../fonts/BlinkerBold/Blinker-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BlinkerBold/Blinker-Bold.woff") format("woff"), url("../fonts/BlinkerBold/Blinker-Bold.ttf") format("truetype"); }

::placeholder {
  color: #666; }

::selection {
  background-color: orange;
  color: #fff; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "roboto-example", sans-serif;
  overflow-x: hidden;
  color: #333;
  margin-bottom: 0 !important; }
  body input,
  body textarea {
    border: #666 1px solid;
    outline: none; }
    body input:focus:required:invalid,
    body textarea:focus:required:invalid {
      border-color: red; }
    body input:required:valid,
    body textarea:required:valid {
      border-color: green; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }
  .img-responsive.img-width {
    width: 100%; }

.text-center {
  text-align: center; }

b,
strong {
  font-weight: bold; }

.header {
  height: 10vh;
  width: 100%;
  top: 0%;
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, #292424, #4d4a4a); }
  .header a {
    text-decoration: none; }
  .header a:link {
    color: white; }
  .header a:visited {
    color: white; }
  .header .header-logo {
    color: white;
    width: fit-content;
    height: fit-content;
    font-family: blinker-regular, sans-serif;
    font-size: 36px;
    margin: 0px 0px 0px 25px; }
  .header .header-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 25px; }
    .header .header-icons .username {
      color: white;
      margin: 0 10px 0 10px; }
    .header .header-icons .header-search {
      margin: 0 10px 0 5px; }
      .header .header-icons .header-search .search-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 3px;
        background-color: white;
        height: 40px;
        margin-right: 20px; }
        .header .header-icons .header-search .search-form input {
          border: none;
          margin-left: 3px; }
        .header .header-icons .header-search .search-form button {
          background-color: white;
          box-shadow: none;
          border: none;
          margin-right: 3px; }
          .header .header-icons .header-search .search-form button .icon {
            justify-content: right;
            background-color: inherit; }
            .header .header-icons .header-search .search-form button .icon .search {
              background-color: #292424;
              width: 30px;
              height: 30px; }

/* The switch - the box around the slider */
.header-theme {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .header-theme .header-theme-switch {
    position: relative;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 34px; }
    .header-theme .header-theme-switch input {
      display: none; }
    .header-theme .header-theme-switch .round {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px; }
    .header-theme .header-theme-switch .round:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%; }
    .header-theme .header-theme-switch input:checked + .round {
      background-color: #2196F3; }
    .header-theme .header-theme-switch input:focus + .round {
      box-shadow: 0 0 1px #2196F3; }
    .header-theme .header-theme-switch input:checked + .round:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px); }

.head-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #292424;
  width: 100%;
  font-family: blinker-regular, sans-serif;
  color: white; }
  .head-block .head-block-text {
    text-align: center;
    font-size: 18px; }
  .head-block .head-block-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #C4C4C4;
    width: 750px;
    height: 60px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px; }
    .head-block .head-block-search .search-form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: inherit; }
      .head-block .head-block-search .search-form .search-bar {
        background-color: white;
        height: 40px;
        width: 550px;
        border-radius: 10px; }
        .head-block .head-block-search .search-form .search-bar input {
          border: white 1px;
          border-radius: inherit;
          height: inherit;
          font-size: 20px;
          margin-left: 20px;
          width: inherit; }
      .head-block .head-block-search .search-form button {
        box-shadow: none;
        border: none;
        background-color: inherit; }
        .head-block .head-block-search .search-form button .search-bar-button {
          text-align: center;
          background-color: #5E5E5E;
          height: 40px;
          line-height: 40px;
          width: 112px;
          border-radius: 10px;
          font-family: blinker-regular, sans-serif;
          font-size: 20px;
          color: white; }
  .head-block .head-block-intro {
    position: relative;
    bottom: 0%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 24px; }

.main-page {
  background-color: #F7F7F7; }
  .main-page .main-page-text .main-page-text-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid black;
    width: 700px;
    margin-bottom: 10px; }
  .main-page .main-page-text .main-page-text-title:first-child {
    padding-top: 10px; }
  .main-page .main-page-text .main-page-text-points {
    font-size: 24px; }
  .main-page .main-page-text .main-page-text-points:last-child {
    padding-bottom: 10px; }
  .main-page .main-page-text a {
    text-decoration: none; }

.carousel {
  width: 750px !important; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  height: 350px;
  margin: 100px auto 0;
  width: 700px; }

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.slides {
  background-size: 100%;
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
  transition: transform ease-in-out .5s, opacity ease-in-out .5s; }

.slide1 {
  background-image: url(https://www.ixbt.com/img/n1/news/2021/2/1/nvidia-cuda-1280x720_large.jpg); }

.slide2 {
  background-image: url(https://www.tipard.com/images/video/cuda.jpg); }

.slide3 {
  background-image: url(https://s0.rbk.ru/v6_top_pics/media/img/1/30/755285293886301.jpg); }

.slide4 {
  background-image: url(http://www.interface.ru/iarticle/img/9741_1.jpg); }

.slide5 {
  background-image: url(https://plusworld.ru/wp-content/uploads/2019/11/christofari.jpg); }

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  opacity: 1;
  z-index: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.wrapper > input {
  display: none; }

.wrapper .controls {
  left: 50%;
  margin-left: -98px;
  position: absolute; }

.wrapper label {
  cursor: pointer;
  display: inline-block;
  height: 8px;
  margin: 25px 12px 0 16px;
  position: relative;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background ease-in-out .5s;
  -moz-transition: background ease-in-out .5s;
  -o-transition: background ease-in-out .5s;
  transition: background ease-in-out .5s; }

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5) {
  background: #ddd; }

.wrapper label:after {
  border: 1px solid #ddd;
  content: " ";
  display: block;
  height: 12px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.footer {
  position: static;
  bottom: 100%;
  background: linear-gradient(0deg, #4d4a4a, #292424);
  height: 10vh;
  width: 100%;
  bottom: 0%;
  font-family: 'Blinker-Regular';
  display: flex;
  align-items: center;
  line-height: 0 !important; }
  .footer .footer-logo {
    margin: 0 0 0 25px;
    color: white; }

.information-page {
  min-height: 760px;
  background-color: #F7F7F7; }
  .information-page .information-title {
    padding-top: 1%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px; }
  .information-page .information-text {
    margin-bottom: 10px; }
    .information-page .information-text .code {
      font-size: 15px !important;
      font-family: Arial, Helvetica, sans-serif;
      border-left: 3px solid black;
      padding: 15px; }
  .information-page .pages {
    margin: 30px 0 10px 0;
    position: relative;
    align-items: flex-end;
    top: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .information-page .pages .next-page {
      margin-left: 5px; }
    .information-page .pages .previous-page {
      margin-right: 5px; }

.code_block {
  background-color: #87ad79 !important; }
  .code_block p {
    margin: 0 !important; }
    .code_block p span {
      background-color: #87ad79 !important; }

.questionnaire {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5px; }

.answers {
  display: flex;
  flex-direction: row; }
  .answers .answer {
    margin: 0 10px 0 0; }

.questionnaire_form {
  width: 100%;
  display: flex;
  flex-direction: column; }

.questionnaire_answers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px; }
  .questionnaire_answers .questionnaire_answer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center; }

label {
  margin-right: 15px;
  line-height: 32px;
  background-color: #F6EFEF;
  width: 100%;
  text-align: center !important; }

.questionnaire_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  position: relative;
  top: 4px; }

.questionnaire_input:checked {
  border: 6px solid black; }

.questionnaire_submit,
legend {
  align-self: center;
  width: 20%;
  background-color: #292424;
  border-radius: 5px;
  width: 200px;
  color: white;
  padding: 5px; }

.questionnaire_submit:hover,
.questionnaire_submit:focus {
  color: #999; }

.questionnaire_submit:active {
  background-color: white;
  color: black;
  outline: 1px solid black; }

.registration_block {
  margin: 10% 25% 0 25%;
  display: block;
  justify-items: center;
  box-shadow: 10px 5px 5px #474745; }
  .registration_block .registration_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    height: 450px;
    max-height: 550px;
    border: 1px #36373b solid;
    border-radius: 5px; }
    .registration_block .registration_form .registration_button {
      background-color: #292424;
      border-radius: 5px;
      width: 200px;
      color: white;
      padding: 5px; }

.search_main {
  background-color: #F7F7F7;
  margin-top: 0 !important;
  min-height: 80vh; }

/*# sourceMappingURL=main.css.map */