{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/styles.html' %}
    <link href="{% sass_src 'scss/main.scss' %}" rel="stylesheet" type="text/css" />

</head>
<body style="{% if 'user_login' in request.path or 'registration' in request.path %}background-color: #292424{% endif %}">
<main>
    {% block content %}
    {% endblock %}
</main>

{% include 'include/scripts.html' %}
</body>
</html>

